

*{
    box-sizing: border-box;
}

html {
    margin: 0;
    font-family: lato;
    max-width: 1350px;
}


@font-face{
    font-family: lato;
    src: url('../fonts/Lato/Lato-Regular.ttf');
}

body {
    margin: 0;
 width: 100%;

}

.logo{

    margin: 10px; 
    font-size: 40px;
     width: 85px;
    height: 33px;
    color: #ffffff;
    font-family : eurofurence, sans-serif;
    font-weight: 400;
    letter-spacing: -0.8px;
}

.logo span{
    color: #FF0000;
}

p{
    padding: 10px;
    width: 100%;
}


.header-container{
    margin-bottom: 100px; 
    height: 70px;
    background-color: rgb(7, 31, 36);
    
}

.btn-search{
    padding: 10px;
    background-color: #ff7b00;
    /* background-color: transparent; */
    border:2px solid white;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
}

.btn-search:hover{
    background-color: #FF0000;
    transition: 0.3s;
}

ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    
}

.videos-list{

    margin-top: 20px;

}

aside{
    /* margin-left: 40px; */
    margin: 0;
}

li{
    margin-bottom: 20px;
    display: flex;
    /* width: 40%; */
    background-color: rgb(7, 31, 36);
    color: white;

 
}

.img-container{
    width: 280px;
    cursor: pointer;
    border: 2px solid white;
}

img{
    height: 100%;
    width: 100%;
}

.search-control{
  
    margin: 10px;
    margin-top: 22px;
}

.search{
    padding: 10px;
}

iframe{
    /* width: 150px;
    height: 150px; */
    width: 100%;
    height: 100%;
}

header img{
    height: 150px;
    width: 150px;
}

.selected-video  {
    /* width: 420px; */
    width: 100%;
    height: 345px;
}

.container{
    width: 100%;
}

.wikipedia-result{
    margin-top: 20px;
    overflow-wrap: break-word;
    /* width: 416px; */
    width: 100%;
    background-color: #ff7b00;
    /* overflow: scroll; */
}

.all-content{
    
    margin-top: 60px;
}

.title{
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.title:hover{
color:#FF0000;
}

.wikipedia-result li:first-child p{
    width: 100%;
    text-align: center;
}

/* helpers */

.flex{
display: flex;
}


.space-between{
    justify-content: space-between;
}


.align-items{

    align-items: center;  
}

.content-center{
    justify-content: center;

}

.column{
    flex-direction: column;
}

nav{
    order: 1;
}


 @media (min-width: 540px) {


    .header-container{
        flex-direction: row;
        margin-bottom: 30px;
    }

    .logo img{
        display: none;
    }
    .btn-search{
        background-color: transparent;
    }
.all-content{
    margin: 20px;
}

 }



 @media (min-width: 860px) {

.all-content{
    flex-direction: row;
}

aside{
    flex-direction: row;
    margin-left: 40px; 
}

.wikipedia-result{
    width: 416px;
}

.selected-video{
    /* width: 420px; */
    width: 100%;

}
li{
   width: 100%;
}

.logo img{
    display: block;
}
nav{
    order: 0;
}

 }